
UniRate/.vs/UniRate/FileContentIndex/c64b5afe-cc1b-4e8d-bf85-324db6e6eda2.vsidx
UniRate/.vs/UniRate/FileContentIndex/3527984f-728d-4791-b09f-07d1b6372ba7.vsidx
UniRate/.vs/UniRate/FileContentIndex/b8509606-e684-4cbf-9a70-809c9e6aee26.vsidx
*.vsidx
*.editorconfig
*.cache
