@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Stylesheet connection for Search page -->
@section Styles {
    <link rel="stylesheet" href="~/css/DepResultsStyle.css" />
    <link rel="stylesheet" href="~/css/NavbarRegisteredStyle.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
}

    <body>
        <div class="hero">
            <img src="@Url.Content("~/visual-material/papei.png")" class="back-image">



            <nav class="navbar" id="navbar">
                <h2 class="logo"><img src="@Url.Content("~/visual-material/uniRateLogo.png")" class="icon-logo"> Uni<span>Rate</span></h2>
                <ul class="navbar-links">
                    <li><a asp-controller="RegisteredUsers" asp-action="HomeRegistered">Αρχική</a></li>
                    <li><a asp-controller="RegisteredUsers" asp-action="SearchRegistered">Πανεπιστήμια</a></li>
                    <li><a href="#">Αξιολογήσεις</a></li>
                    <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
                    <li><a href="#">Σχετικά με εμάς</a></li>
                    <li><a asp-controller="Home" asp-action="Login">Έξοδος</a></li>
                </ul>
                <a href="#" class="btn">aboublini<i class="fa fa-user"></i></a>
                <div class="toggle-btn">
                    <i class="fa fa-bars"></i>
                </div>
            </nav>
            <div class="dropdown-menu">
                <li><a asp-controller="RegisteredUsers" asp-action="HomeRegistered">Αρχική</a></li>
                <li><a asp-controller="RegisteredUsers" asp-action="SearchRegistered">Πανεπιστήμια</a></li>
                <li><a href="#">Αξιολογήσεις</a></li>
                <li><a asp-controller="RegisteredUsers" asp-action="FavoritesRegistered">Αγαπημένα</a></li>
                <li><a href="#">Σχετικά με εμάς</a></li>
                <li><a asp-controller="Home" asp-action="Login">Έξοδος</a></li>
                <li><a href="#" class="btn">aboublini<i class="fa fa-user"></i></a></li>
            </div>

            <script>
                // Change navbar color on scroll
                function changeBg() {
                    let navbar = document.getElementById('navbar');
                    let scrollValue = window.scrollY;

                    if (scrollValue < 150) {
                        navbar.classList.remove('bgColor');
                    }
                    else {
                        navbar.classList.add('bgColor');
                    }
                }

                window.addEventListener('scroll', changeBg);

                // Dropdown menu handling (responsive design)
                const toggleBtn = document.querySelector('.toggle-btn');
                const toggleBtnIcon = document.querySelector('.toggle-btn i');
                const dropdownMenu = document.querySelector('.dropdown-menu');

                toggleBtn.onclick = function () {
                    dropdownMenu.classList.toggle('open');
                    const isOpen = dropdownMenu.classList.contains('open');

                    toggleBtnIcon.classList = isOpen
                        ? 'fa fa-close'
                        : 'fa fa-bars';
                }
            </script>



            <div class="content">
                <h1>Τμήμα Πληροφορικής</h1>
                <h2>Πανεπιστήμιο Πειραιά</h2>
            </div>
        </div>


        <div class="uni-basics">

            <div class="uni-info">
                <div class="title">
                    <h2>Τμήμα Πληροφορικής</h2>
                    <h3 class="subtitle">Πανεπιστήμιο Πειραιά</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Βάση Εισαγωγής:</h3>
                    <h3 class="second">16.000</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Διάρκεια Φοίτησης:</h3>
                    <h3 class="second">4 χρόνια</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Κατευθύνσεις:</h3>
                    <h3 class="second">
                        Πληροφοριακά Συστήματα και Υπηρεσίες,
                        Τεχνολογία Λογισμικού και Εφυή Συστήματα,
                        Διαδικτυακά και Υπολογιστικά Συστήματα
                    </h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Αριθμός Μαθημάτων:</h3>
                    <h3 class="second">45</h3>
                </div>
                <div class="info-section">
                    <h3 class="first">Ιστοσελίδα:</h3>
                    <h3 class="second">cs.unipi.gr</h3>
                </div>

            </div>

            <div class="uni-rankings">
                
                    <div class="title">
                        <h2>4,88 - 52 αξιολογήσεις</h2>
                        <div class="total-stars">
                            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                        </div>

                    </div>

                    <div class="rankings-content">
                        <div class="rc-inside">
                            <div class="rank">
                                <h3 class="">Δυσκολία</h3>
                                <div class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Καθηγητές</h3>
                                <div class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Μαθήματα</h3>
                                <div class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>

                            <div class="rank">
                                <h3>Επικαιρότητα Σπουδών</h3>
                                <div class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>

                            <div class="rank last">
                                <h3>Οργάνωση</h3>
                                <div class="stars">
                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                
            </div>

        </div>


        <div class="uni-basics-more">

            <div class="uni-deps">
                <div class="title">
                    <h2>Πρόγραμμα Σπουδών</h2>
                </div>

                <div class="classes">

                    <div class="title">
                        <h3>Ά Εξάμηνο</h3>
                    </div>

                    <div class="deps-section course">
                        <h3>Λογική Σχεδίαση Ψηφιακών Συστημάτων</h3>
                        <ul class="deps-names">
                            <li>Καθηγητής: Μιχάλης Ψαρκάκης</li>
                            <li>Τύπος Μαθήματος: Υποχρεωτικό</li>
                            <li>Ώρες Διδασκαλίας: 4 Θεωρία + 2 Εργαστήριο</li>
                            <li>Περιεχόμενα: Πατήστε <a href="#">εδώ</a></li>
                            <li>Τρόπος Βαθμολόγησης: Γραπτή εξέταση 100%</li>
                        </ul>
                    </div>
                    <div class="deps-section course">
                        <h3>Ανάλυση Ι</h3>
                        <ul class="deps-names">
                            <li>Καθηγητής: Κωνσταντίνος Μανές</li>
                            <li>Τύπος Μαθήματος: Υποχρεωτικό</li>
                            <li>Ώρες Διδασκαλίας: 4 Θεωρία + 2 Φροντιστήριο</li>
                            <li>Περιεχόμενα : Πατήστε <a href="#">εδώ</a></li>
                            <li>Τρόπος Βαθμολόγησης: Γραπτή εξέταση 100%</li>
                        </ul>
                    </div>
                    <div class="deps-section course">
                        <h3>Αρχές Προγραμματισμού</h3>
                        <ul class="deps-names">
                            <li>Καθηγητής: Δημήτρης Αποστόλου</li>
                            <li>Τύπος Μαθήματος: Υποχρεωτικό</li>
                            <li>Ώρες Διδασκαλίας: 4 Θεωρία</li>
                            <li>Περιεχόμενα Μαθήματος: Πατήστε <a href="#">εδώ</a></li>
                            <li>Τρόπος Βαθμολόγησης: Γραπτή εξέταση 100%</li>
                        </ul>
                    </div>
                    <hr>

                </div>
            </div>

            <div class="uni-map">
                <div class="title">
                    <h2>Καθηγητές</h2>
                </div>

                <div class="teachers">
                    <div class="teacher-section course">
                        <div class="teacher-name">
                            <h3 class="nm">Μαρία Βίρβου</h3>
                            <p>Πρόεδρος Τμήματος</p>
                        </div>

                        <ul class="teacher-info">
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-building"></i></a>
                                    <div><p>507, Κεντρικό Κτήριο</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-phone"></i></a>
                                    <div><p>+302104142269</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-envelope"></i></a>
                                    <div><p><a href="mailto:mvirvou@unipi.gr">mvirvou@unipi.gr</a></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="teacher-section course">
                        <div class="teacher-name">
                            <h3 class="nm">Βέργαδος Δημήτριος</h3>
                            <p>Αναπληρωτής Πρόεδρος Τμήματος</p>
                        </div>

                        <ul class="teacher-info">
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-building"></i></a>
                                    <div><p>104, Γ. Λαμπράκη 126</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-phone"></i></a>
                                    <div><p>+302104142479</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-envelope"></i></a>
                                    <div><p><a href="mailto:vergados@unipi.gr">vergados@unipi.gr</a></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="teacher-section course">
                        <div class="teacher-name">
                            <h3 class="nm">Αποστόλου Δημήτριος</h3>
                            <p>Καθηγητής</p>
                        </div>

                        <ul class="teacher-info">
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-building"></i></a>
                                    <div><p>303, Γ. Λαμπράκη 126</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-phone"></i></a>
                                    <div><p>+302104142476</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-envelope"></i></a>
                                    <div><p><a href="mailto:dapost@unipi.gr">dapost@unipi.gr</a></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <div class="teacher-section course">
                        <div class="teacher-name">
                            <h3 class="nm">Δουληγέρης Χρήστος</h3>
                            <p>Καθηγητής</p>
                        </div>

                        <ul class="teacher-info">
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-building"></i></a>
                                    <div><p>302, κεντρικό κτίριο</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-phone"></i></a>
                                    <div><p>+302104142137</p></div>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <a><i class="fa fa-envelope"></i></a>
                                    <div><p><a href="mailto:cdoulig@unipi.gr">cdoulig@unipi.gr</a></p></div>
                                </div>
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="reviews">

            <div class="reviews-cont">
                <div class="title">
                    <h2>Κριτικές</h2>
                </div>

                <div class="rev">

                    <div class="scroll">
                        <div class="who">
                            <a><i class="fa fa-user"></i></a>
                            <div>
                                <h3>aboublini</h3>
                                <p>2 months ago</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>
                                Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                                Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                                Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                                διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                                Πανεπιστημίου!
                            </p>
                        </div>
                    </div>
                    <hr>

                    <div class="scroll">
                        <div class="who">
                            <a><i class="fa fa-user"></i></a>
                            <div>
                                <h3>aboublini</h3>
                                <p>2 months ago</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>
                                Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                                Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                                Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                                διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                                Πανεπιστημίου!
                            </p>
                        </div>
                    </div>
                    <hr>

                    <div class="scroll">
                        <div class="who">
                            <a><i class="fa fa-user"></i></a>
                            <div>
                                <h3>aboublini</h3>
                                <p>2 months ago</p>
                            </div>
                        </div>
                        <div class="txt">
                            <p>
                                Το Πανεπιστήμιο Πειραιώς αριθμεί 80 συνεχή έτη λειτουργίας.
                                Ο χώρος είναι κάπως παλιός, ωστόσο είναι καλά συντηρημενος.
                                Υπάρχουνε τόσο αίθουσες όσο και αμφιθέατρα όπου μπορούν και
                                διεξάγονται μαθήματα και διάφοροι τύποι εκδηλώσεων εντός του
                                Πανεπιστημίου!
                            </p>
                        </div>
                    </div>

                </div>

                <div class="add-rev">
                    <button class="add-rev-btn"><i class="fa fa-plus"></i></button>
                </div>

            </div>

            <div class="contact">
                <div class="title">
                    <h2>Γραμματεία Φοιτητών</h2>
                </div>

                <div class="contact-section">
                    <h4>Τηλέφωνο:</h4>
                    <p>210 4142067, 210 4142437</p>
                </div>
                <div class="contact-section">
                    <h4>Διεύθυνση:</h4>
                    <p>1ος όροφος, Ζέας 80-82, Πειραιάς 18534</p>
                </div>
                <div class="contact-section">
                    <h4>Email:</h4>
                    <p><a href="mailto:plh-secr@unipi.gr">plh-secr@unipi.gr</a></p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3146.525340258017!2d23.650293176368773!3d37.94151790253674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bbe5bb8515a1%3A0x3e0dce8e58812705!2zzqDOsc69zrXPgM65z4PPhM6uzrzOuc6_IM6gzrXOuc-BzrHOuc-Oz4I!5e0!3m2!1sel!2sgr!4v1682510205416!5m2!1sel!2sgr"
                    width="100%"
                    height="50%"
                    style="border:0; border-radius: 25px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>

        </div>




        <footer>
            <p><i class="fa fa-copyright"></i>   Uni<span>Rate</span></p>
            <p>
                Το UniRate αποτελεί την εργασία εξαμήνου μας για το μάθημα "Πληροφοριακά
                Συστήματα στο Διαδίκτυο". Μπορείς να μας βρείς στο GitHub ή να μας στείλεις mail:
            </p>
            <div class="social">
                <a href="https://github.com/aboublini"><i class="fa fa-github"></i></a>
                <a href="https://github.com/marata13"><i class="fa fa-github"></i></a>
                <a href="mailto:aboublini@gmail.com"><i class="fa fa-envelope"></i></a>
                <a href="mailto:ioakeim13@hotmail.gr"><i class="fa fa-envelope"></i></a>
            </div>
            <p class="end"><i class="fa fa-copyright"></i> 2023 All Right Reserved</p>
        </footer>
    </body>