@model UniRate.Models.UniRating

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>UniRating</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SchoolRating" class="control-label"></label>
                <input asp-for="SchoolRating" class="form-control" />
                <span asp-validation-for="SchoolRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActionsRating" class="control-label"></label>
                <input asp-for="ActionsRating" class="form-control" />
                <span asp-validation-for="ActionsRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locationrating" class="control-label"></label>
                <input asp-for="Locationrating" class="form-control" />
                <span asp-validation-for="Locationrating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessabilityRating" class="control-label"></label>
                <input asp-for="AccessabilityRating" class="form-control" />
                <span asp-validation-for="AccessabilityRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationRating" class="control-label"></label>
                <input asp-for="OrganisationRating" class="form-control" />
                <span asp-validation-for="OrganisationRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OverallRating" class="control-label"></label>
                <input asp-for="OverallRating" class="form-control" />
                <span asp-validation-for="OverallRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
